<% layout("/layouts/boilerplate") %>
   
<style>
 #filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 }
 .filter{
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
 }
 .filter:hover{
  opacity: 1;
  cursor: pointer;
 }
 .filter p {
  font-size: 0.8rem;
 }
 .tax-info {
  display: none;
 }
 .tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
 }
</style>

    <div id="filters">
      <div class="filter">
       <div> <i class="fa-solid fa-fire"></i> </div>
        <p><a href="https://tourism.gov.in/media/photo-gallery/destinations-india" style="text-decoration: none;">Trending</a></p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
         <p><a href="https://www.oyorooms.com/"style="text-decoration: none;">Room</a></p>
       </div>

       <div class="filter">
        <div> <i class="fa-solid fa-jet-fighter"></i> </div>
         <p ><a href="https://www.skyscanner.co.in/" style="text-decoration: none;" >Flights</a></p>
       </div>
       <div class="filter">
         <div><i class="fa-solid fa-mountain-sun"></i></div>
          <p><a href="https://www.peakbagger.com/" style="text-decoration: none;">Mountains</a></p>
        </div>

        <div class="filter">
          <div> <i class="fa-brands fa-fort-awesome"></i> </div>
           <p><a href="https://www.tourmyindia.com/blog/best-royal-palaces-visit-india/" style="text-decoration: none;">Castles</a></p>
         </div>
         <div class="filter">
           <div><i class="fa-solid fa-person-skiing"></i></div>
            <p><a href="https://www.easemytrip.com/blog/snow-parks-in-india" style="text-decoration: none;">Arctic</a></p>
          </div>

          <div class="filter">
            <div> <i class="fa-solid fa-tent-arrow-down-to-line"></i> </div>
             <p><a href="https://www.camping-co.com/" style="text-decoration: none;">Camping</a></p>
           </div>
           <div class="filter">
             <div><i class="fa-solid fa-cow"></i></div>
              <p><a href="https://www.tripsavvy.com/back-to-nature-farmstays-in-india-1539352" style="text-decoration: none;">Farms</a></p>
            </div>
            <div class="filter">
              <div><i class="fa-solid fa-person-swimming"></i></div>
               <p><a href="https://thetalesofatraveler.com/top-10-awesome-pools-in-india/"style="text-decoration: none;">Amazing Pools</a></p>
             </div>

             <div class="filter">
              <div> <i class="fa-solid fa-landmark-dome"></i> </div>
               <p><a href="https://www.glampingclub.in/" style="text-decoration: none;">Doms</a></p>
             </div>
             <div class="filter">
               <div><i class="fa-solid fa-ship"></i></div>
                <p><a href="https://www.keralatourism.org/houseboat/" style="text-decoration: none;">Boats</a></p>
              </div>

   <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
    </div>
    
   </div>

    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(let listing of allListings) { %>

        <a href="/listings/<%= listing._id %>" class="listing-link"> 
          <div class="card col listing-card">
            <img
             src="<%= listing.image.url %>" 
             class="card-img-top" 
             alt="listing_image"
             style="height : 20rem"/>

             <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
              <b>  <%= listing.title %> </b>  <br>
              &#8377; <%=  listing.price.toLocaleString("en-IN") %> / night
              <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
              </p>
            </div>
          </div>
        </a>
        
        <% } %>
    </div>
   
    <script>
      let taxSwitch = document.getElementById("flexSwitchCheckDefault");
      taxSwitch.addEventListener("click", () => {
        let taxInfo= document.getElementsByClassName("tax-info");
        for(info of taxInfo) {
          if(info.style.display != "inline") {
            info.style.display = "inline";
          } else {
            info.style.display = "none";
          }
        }
      });
    </script>
